body{
     margin:0;
     padding:0;
     
}
section{
    display:flex;
}
.container {
    text-align: center;
    background-color: blue;
    color: blanchedalmond;
    padding:25px;
   
}
.aside{
    background-color:red;
    width:15%;
    color:white;
    height: 400px;
    margin: -1px;

}

.aside > ul{
    padding-top:20px;
}

.aside ul >li{
    font-size:xx-large;
}
.aside ol >li{
    font-size:xx-large;
}
.main{
    width:80%;
    margin-left:20px;    
}
p{
    font-size:larger;
}
h4{
    font-size:x-large
}